* {             /* CSS reset */
	margin: 0;
	padding: 0;
}

article, aside, figure, footer, header, nav, section {
	display: block;
	margin: 0;
	padding: 0;
}

header{     /* Header - Title and horizontal link bar */
    width: 100%;
    height: 120px;
    font-family: Georgia;
    background-color: lightsteelblue;
    background: linear-gradient(darkblue,lightsteelblue);
    position: relative;
}

#errorpane{
    width: 100%;
    display: block;
    float: left;
    font-family: Georgia;
    text-align: center;
    background-color: red;
    color: white;
}

header img {
    float: left;
    width: 13%;
    height: 100%;
}

header h1 {
    margin-left: 10px;
    margin-top: 25px;
    float: left;
    color: white;
    width: 25%;
}

header ul {
	list-style-type: none;
}

#log {
    width: 48%;
    height: 120px;
    margin-right: 10px;
    display: block;
    float: right;
}

header li {
    display: inline;
    width: 40%;
    height: 40%;
    text-align: center;
    color: #FFFFFF;
}

header li a {
    text-decoration: none;
    display: block;
    width: 18%;
    height: 25%;
    color: black;
    padding: 3.8px;
    background-color: darkcyan;
    float: right;
    font-weight: bold;
    position: absolute;
    top: 80px;
    left: 300px;
    max-width: 150px;
}

header li input {
    width: 45%;
    font-weight: bold;
    margin: 15px 10px 5px 0;
}
          
#btnLogin, #btnLogout {         /* login and logout buttons (header) */
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

#btnLogout {
    margin: 35px 10px 35px 0px;
    float: right;
    width: 35%;
    min-width: 80px;
}

header li input:focus {
    background-color: #DDDDFF;
}

header li input:hover {
    background-color: #DDDDFF;
}

#name {         /* the 2 messages at the top */ 
    position: absolute;
    top: 10px;
    right: 5px;
    color: white;
}

#errorText {        
    color: #FF0000;
    text-align: right;
    position: absolute;
    top: 120px;
    right: 5px;
}

::-webkit-input-placeholder {   /* Make placeholder text italic */
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}
        
nav {               /* NAV BAR - Left Side Vertical Links */
    width: 18%;
    float: left;
    margin: 10px 0 0 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 95%;
    background-color: #EEEEEE;
    border: 2px solid #555555;
}

nav li {
    text-align: left;
    padding: 4px 4px;
    border-bottom: 2px solid #D3D3D3;
}

nav ul a {
    display: block;
    color: black;
    text-decoration: none;
}

nav li:last-child {
    border-bottom: 0;
}

nav li a:hover {
    background-color: black;
    color: #88DDFF;
}
            
#rightNav {          /* Right side NAV panel (not used yet) */
    width: 18%;
    float: right;
    margin: 10px 10px 0 0;
}

#rightNav ul {
    list-style-type: none;
    width: 95%;
    float: right;
    background-color: #DDDDDD;
    border: 2px solid #555555;
}

#rightNav ul a {
    display: block;
    color: #000000;
    padding: 8px 0 8px 0;
}

#rightNav li{
    padding: 4px 4px;
}

#eventText{
    color: #444444;
    font-style: italic;
}

#safetyWarningText {        /* Signup page italic text */
    text-align: center;
    font-style: italic;
    font-size: 12px;
}

main {                       /* MAIN */
    width: 60%;
    float: left;
    font-size: large;
    text-align: center;
    background-color: #C0D4EE;
    margin-top: 10px;
    margin-left: 1.2%;
    margin-right: .8%;
}

main ul {
    list-style: none;
    float: left;
}

main p {
    margin: 0px 20px;
}

main form {
    width: 96%;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    text-align: left;
}

main label {
    width: 40%;
    display: block;
    float: left;
    text-align: right;
    padding-right: 20px;
}

main input {
    width: 40%;
}

hr {
    padding: 0;
    margin: 0;
}

#introText{     /* index page intro text */
    text-align: left;
    font-style: italic;
    font-size: 24px;
}

#buttons ul {       /* Signup page submit buttons */
    width: 93%;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 5px;
 }

#buttons li{
    display: inline;
    width: 25%;
    padding: 0px 5px;
}

#deleteButton ul {       /* Signup page submit buttons */
    width: 93%;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 5px;
}

#deleteButton li{
    display: inline;
    width: 25%;
    padding: 0px 5px;
}

#deleteButton input{
    background-color: #FFBBBB;
}

#chkAddressPrivate {
    width: auto;
}

#statusText{
    color: #008800;
    float: right;
    text-align: center;
    font-size: 16px;
    font-style: oblique;
    width: 100%;
    background-color: #DDFFDD;
    border: 1px solid;
    display: block;
}

#postForm {
    width: 95%;
    margin: 10px auto;
}

.fancyButton {
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background: url(../images/button2.png) transparent no-repeat center center;
    border: 0;
    outline: none;
    color: #FFFFFF;
    text-align: left;
    text-indent: 10px;
}

.fancyButtonCentered {
    background-size: 100% 100%;
    background: url(../images/button2.png) transparent center center no-repeat;
    border: 0;
    outline: none;
    color: #FFFFFF;
    text-align: center;
}

#btnPost {
    width: 19.5%;
    max-width: 80px;
    float: left;
    margin: 10px auto;
    height: 40px;
}

textarea { /*  used with the message posting in index */
    resize: none;
    width: 80%;
    float: left;
    margin: 10px 0;
}

#messageContent {
    text-align: left;
    border: 1px dashed;
    margin: 5px;
    font-family: "Calibri";
}

#messageContent h3 {
    padding: 0;
    margin: 0;
    display: inline;
}

#messageContent hr{
    padding: 0;
    margin: 0;
}

#profileimage{
    margin: 0px auto;
    display: block;
}

#timestampInfo {
    font-size: 12px;
    padding: 0;
}

#btnReply, #btnDelete {
    width: 100%;
    height: 100%;
    min-height: 40px;
    vertical-align: bottom;
}

#btnSearch {
    width: 20%;
    max-width: 120px;
}

#btnReply {
    max-width: 80px;
}

#btnAddContact{
    display: inline;
    width: 100px;
    !important
}

.contactList input {  /* viewcontacts page table */
    width: 30%;
}

#replyBar{
    background-color: #0088BB;
    background: linear-gradient(#44BBFF, #0088BB);
}

#message{
    width: 100%;
}

#messageContent table{
    padding: 0;
}

#messageBar{
    background-color: #0044BB;
    background: linear-gradient(#0088BB, #0044BB);
}
#replyMessage{
    text-align: left;
    margin: 0 auto;
    padding: 0px;
    font-family: "Calibri";
    width: 100%;
    border-spacing: 4px;
}

#replyContent{
    border: 1px dotted;
}

#prevNextForm{
    display: block;
    text-align: center;
}

#prevNextForm form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#prevNextForm input{
    width: 49%;
    height: 30px;
}

footer {              /* footer */
    width: 100%;
    height: 25px;
    clear: both;
    font-size: small;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    background-color: lightsteelblue;
    line-height: 25px;
}

footer h5 {
    margin: 0 auto;
    color: black;
}

#caro {     /* carousel stuff */
    margin: 0 auto;
    max-width: 550px;
    width: 55%;
}

.slide {
    width: 100%;
    height: 350px;
}

.caption {
    margin-left: .5em;
    padding-top: 1em;
}
/* MEDIA QUERIES    MEDIA QUERIES */


@media only screen and (min-width: 992px) and (max-width: 1199px) {     /*laptop*/


}

@media only screen and (min-width: 768px) and (max-width: 991px) {      /*TABLET*/

    header h1{
        width: 20%;
    }

    #log {
        width: 50%;
        height: 120px;
    }

    header li input, header li a {
        width: 70%;
        margin: 1px 15px 1px 0;
        float: right;
    }

    header li a {
        position: static;
        max-width: none;
    }

    nav, #rightNav {        /* NAV's */
        width: 46%;
    }

    main {      /* main sections */
        width: 98%;
        clear: both;
        margin: 10px auto;
    }

    .slide {
        height: auto;
    }
}

@media only screen and (max-width: 767px) {      /*SMARTPHONE*/

    header img {        /* header stuff */
        width: 27%;
    }

    header h1 {
        display: none;
    }

    #log {
        width: 68%;
    }

    header li a {

        position: static;
        max-width: none;
    }

    header li input, header li a {
        width: 80%;
        height: 22%;
        float: right;
        margin: 4px 10px 1px 0;
    }

    #errorText, #name {
        display: none;
    }

    main {      /* main sections */
        width: 98%;
        clear: both;
        margin: 5px auto;
    }

    nav, #rightNav {        /* NAV's */
        width: 47%;
        margin: 5px 2px;
    }
    
    form label {
        display: none;
    }
    
    form input {
        width: 60%;
        margin: 4px auto;
    }
    
    #btnReply, #btnPost {
        max-width: 40px;
    }

    footer h5 {
        width: 98%;
    }

    .slide {
        height: auto;
    }

}